{% extends 'LevAPIBundle::layout.html.twig' %}

{% block content %}
    <div class="container-fluid">
        <div class="page-header">
            <h1>
                <a href="{{ path('staff_new') }}" class="btn btn-primary pull-right">
                    <i class="fa fa-plus"></i> Add
                </a>
                <i class="fa fa-user"></i> Staff list
            </h1>
        </div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Email</th>
                <th>Staff Roles</th>
                <th>SuperAdmin</th>
                <th>Enabled</th>
                <th>Last Login</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.id }}</td>
                    <td>{{ entity.firstname }}</td>
                    <td>{{ entity.email }}</td>
                    <td>
                        <ul class="list-unstyled">
                        {% for staffrole in entity.staffroles %}
                            <li>{{ staffrole.name }}</li>
                        {% endfor %}
                        </ul>

                    </td>
                    <td>
                        {% if entity.superadmin %}
                            <i class="fa fa-check-square-o"></i>
                        {% else %}
                            <i class="fa fa-square-o"></i>
                        {% endif %}
                    </td>
                    <td>
                        {% if entity.enabled %}
                            <i class="fa fa-check-square-o"></i>
                        {% else %}
                            <i class="fa fa-square-o"></i>
                        {% endif %}
                    </td>
                    <td>{{ entity.lastLogin | date('F jS, Y \\a\\t g:ia') }}</td>
                    <td>
                        <a href="{{ path('staff_edit', { 'id': entity.id }) }}" class="btn btn-primary btn-xs">
                            <i class="fa fa-pencil"></i> edit
                        </a>
                        <button href="#" class="btn btn-danger btn-xs" disabled>
                            <i class="fa fa-trash-o"></i> delete
                        </button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
